.venv
*.zip
__pycache__/*

ppo/models/*
ppo/tensorboard/*
ppo/train/*
ppo/logs/*
ppo/logs/*.2
ppo/logs/*.npz

dqn/models/*
dqn/tensorboard/*
dqn/train/*
dqn/logs/*
dqn/logs/*.2
dqn/logs/*.npz

a2c/models/*
a2c/tensorboard/*
a2c/train/*
a2c/logs/*
a2c/logs/*.2
a2c/logs/*.npz
simulated/__pycache__/*

